header,
footer {
    height: 10%;
    background-color: #d8ae78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #42855B;
}

.body {
    height: 80%;
    background-color: #90B77D;
    color: #42855B;
    -webkit-text-stroke: 2px black;
}
