.burger-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.back-button-div {
    border: 1px solid white;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-button {
    border: 1px solid green;
    width: 100%;
    height: 20%;
}

.fa-solid.fa-arrow-left {
    color: black;
    transition: 0.3s;
}

.fa-solid.fa-arrow-left:hover {
    color: green;
}

.burger-options-div {
    border: 1px solid white;
    width: 80%;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
}

.burger-heading {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.burgers {
    border: 1px solid white;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.burger-option {
    border: 1px solid white;
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s linear;
}

.burger-name-div {
    border: 1px solid white;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.burger-icon-div {
    border: 1px solid purple;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112px;
}

.burger-option:hover {
    border: 1px solid black;
    width: 60%;
    height: 90%;
}
