<div class="burger-page">
    <div class="back-button-div">
        <a routerLink="">
            <i class="fa-solid fa-arrow-left fa-5x"></i>
        </a>
    </div>
    <div class="burger-options-div">
        <div class="burger-heading">
            <h1>Our Beef Burgers</h1>
        </div>
        <div class="burgers">
            <div *ngFor="let burger of burgers" class="burger-option">
                <div class="burger-name-div">
                    {{burger.name}}
                </div>
                <div class="burger-icon-div">
                    <i class="fa-solid fa-burger"></i>
                </div>
                <div class="burger-info">
                    {{burger.desc}}
                </div>
                <div class="add-burger">
                    <button (click)="addBurgerToCart()">Get {{burger.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
