<div class="meal-div">
    <div class="back-button-div">
        <a routerLink="">
            <i class="fa-solid fa-arrow-left fa-5x"></i>
        </a>
    </div>
    <div class="meal-block-div">
        <div class="meal-block-card">
            <div class="burger-div">
                <i class="fa-solid fa-burger fa-4x"></i>
            </div>
            <div class="add-ons-div">
                <div class="add-ons-option-div">
                    <div class="image-div">
                        <img src="https://img.icons8.com/cotton/64/FFFFFF/french-fries.png" />
                    </div>
                    <div class="button-div">
                        <button>
                      <i class="fa-solid fa-plus"></i>
                    </button>
                    </div>
                </div>
                <div class="add-ons-option-div">
                    <div class="image-div">
                        <i class="fa-solid fa-bottle-water fa-4x"></i>
                    </div>
                    <div class="button-div">
                        <button>
                      <i class="fa-solid fa-plus"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <a target="_blank" href="https://icons8.com/icon/82488/french-fries">French Fries icon by Icons8</a> -->
