<div class="burger-div">
    <div class="burger-div-heading">
        <h1>pick your meat</h1>
    </div>
    <div class="burger-div-body">
        <a routerLink="chicken" class="burger-meat-div">
            <div class="top-bun"></div>
            <div class="patty">Chicken</div>
            <div class="bottom-bun"></div>
        </a>
        <a routerLink="beef" class="burger-meat-div">
            <div class="top-bun"></div>
            <div class="patty">beef</div>
            <div class="bottom-bun"></div>
        </a>
    </div>
</div>
