/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

body {
    height: 100%;
    width: 100%;
    background-color: bisque;
    font-family: 'Common Pixel', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

@media all and (max-width: 768px) {
    html {
        height: 100vh;
        width: 100vw;
        background-color: aquamarine;
    }
    body {
        height: 100%;
        width: 100%;
        background-color: bisque;
    }
}
