<div class="burger-page">
    <div class="back-button-div">
        <a routerLink="">
            <i class="fa-solid fa-arrow-left fa-5x"></i>
        </a>
    </div>
    <div class="burger-options-div">
        <div class="burger-heading">
            <h1>Our Chicken Burgers</h1>
        </div>
        <div class="burgers">
            <div class="burger-option">
                <div class="burger-name-div">
                    Burger 1
                </div>
                <div class="burger-icon-div">
                    <i class="fa-solid fa-burger"></i>
                </div>
            </div>
            <div class="burger-option">
                <div class="burger-name-div">
                    Burger 2
                </div>
                <div class="burger-icon-div">
                    <i class="fa-solid fa-burger"></i>
                </div>
            </div>
            <div class="burger-option">
                <div class="burger-name-div">
                    Burger 3
                </div>
                <div class="burger-icon-div">
                    <i class="fa-solid fa-burger"></i>
                </div>
            </div>
            <div class="burger-option">
                <div class="burger-name-div">
                    Burger 4
                </div>
                <div class="burger-icon-div">
                    <i class="fa-solid fa-burger"></i>
                </div>
            </div>
        </div>
    </div>
</div>
